.content {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  margin-bottom: 130px;

  &__text {
      &__title {
        font-weight: 500;
        font-size: 56px;
        line-height: 70px;
        color: #000000;
        max-width: 520px;
        padding-top: 45px;
        padding-bottom: 20px;
      }
      &__paragraph1 {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #555555;
        max-width: 608px;
        padding-bottom: 20px;
      }
      &__paragraph2 {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #555555;
        max-width: 608px;
        padding-bottom: 50px;
      }
  }
}