.content {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  margin-bottom: 130px;

  &__text {
      &__title {
        font-weight: 500;
        font-size: 56px;
        line-height: 70px;
        color: #000000;
        max-width: 520px;
        padding-top: 45px;
        padding-bottom: 20px;
      }

      &__paragraph1 {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #555555;
        max-width: 608px;
        padding-bottom: 20px;
      }

      &__paragraph2 {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #555555;
        max-width: 608px;
        padding-bottom: 50px;
      }
  }
}

@media (min-width: 1024px) and (max-width: 1239.75px){
  .content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    &__text__title {
      font-size: 40px;
    }

    &__img {
      margin-top: 20px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023.75px) {
  .content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
    margin: 50px 0;
    &__text__title {
      font-size: 40px;
    }
  }
}

@media (min-width: 320px) and (max-width: 767.75px) {
  .content {
    margin-top: 50px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    &__img__product {
      width: 290px;
      margin-top: 20px;
    }

    &__text__title {
      font-size: 20px;
      line-height: 25px;
      padding: 10px 0 10px;
      text-align: center;
    }

    &__text__paragraph1 {
      font-size: 15px;
      line-height: 20px;
      text-align: center;
    }

    &__text__paragraph2 {
      font-size: 15px;
      line-height: 20px;
      padding-bottom: 20px;
      text-align: center;
    }
  }
}