.footer {
  background: #FAFAFA;
  margin-top: 130px;
}

.footer__email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 109px;
    padding-bottom: 59px;
    border-bottom: 1px solid #DDDDDD;;

  &__text {
      font-weight: 500;
      font-size: 36px;
      line-height: 46px;
      color: #222222;
  }
  &__form {
    position: relative;

  }
  &__field {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #555555;
    max-width: 386px;
    padding: 18px 288px 18px 18px;
    border: none;

  }
  &__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #402F2C;
    padding: 10px 19px 10px 20px;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
  }
}

.footer__info {
  display: flex;
  justify-content: space-around;

  &__logo {
    max-width: 326px;
    margin-top: 59px;
    margin-bottom: 46px;
  }
  &__text {
    margin-top: 38px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #555555;
  }
  &__links {
    margin-top: 84px;
  }

  &__contact {
    margin-top: 84px;
  }
}
.link-item {
  padding-bottom: 20px;
}

.link-item:first-child {
  padding-bottom: 39px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}
.footer-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.footer-link:hover {
  text-decoration: underline;
}

.contact-item {
  padding-bottom: 20px;
}

.contact-item:first-child {
  padding-bottom: 39px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}

.contact-item:last-child {
  max-width: 92px;
  display: flex;
  justify-content: space-between;
}

.contact-item-info {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.contact-item-info:hover {
  color: cadetblue;
}

@media (min-width: 1024px) and (max-width: 1239.75px){
  .footer {
    margin-top: 50px;
  }
  .footer__email__text {
    font-size: 35px;
  }
}

@media (min-width: 768px) and (max-width: 1023.75px) {
  .footer {
    margin-top: 50px;

    &__email {
      padding-top: 50px;
      &__text {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767.75px) {
  .footer {
    margin-top: 50px;
  }
  .footer__email {
    flex-wrap: wrap;
    padding: 30px 0 20px;
    &__form {
      max-width: 290px;
    }
    &__text {
      font-size: 18px;
    }
    &__btn {
      font-size: 5px;
      line-height: 10px;
      padding: 5px 10px;
    }
    &__field {
      font-size: 10px;
      line-height: 15px;
      padding: 10px 150px 10px 10px;
    }
  }
  .footer__info {
    display: block;
    &__logo {
      margin-top: 20px;
      margin-bottom: 0;
      text-align: center;
    }
    &__text {
      margin-top: 10px;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
    }
    &__links {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    }
    &__contact {
      margin-top: 10px;
    }
    &__img {
      justify-content: center;
    }
  }
  .footer-link {
    font-size: 10px;
    line-height: 15px;
  }
  .link-item {
    padding-bottom: 0;
  }
  .link-item:first-child {
    padding-bottom: 0;
    font-size: 15px;
  }
  .contact-item {
    padding-bottom: 5px;
    text-align: center;
    &-info {
      font-size: 10px;
    }
    &-tw {
      padding: 0 10px;
    }
  }
  .contact-item:first-child {
    padding-bottom: 8px;
    font-size: 18px;
  }
  .contact-item:last-child {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}

