.header {
  background: #F9F6F5;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 73px;
}

.nav {
  display: flex;
}

.nav-item {
  padding-right: 40px;
}

.nav-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.menu {
  display: flex;
}

.link-acount {
  padding-right: 24px;
}

.link-menu {
  padding-left: 24px;
}

@media (min-width: 768px) and (max-width: 1023.75px) {
  .header-inner {
    padding-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 767.75px) {
  .nav {
    display: none;
  }
  .header-inner {
    padding-bottom: 0;
    padding-top: 20px;
  }
}

