.icons {
  &__row {
    max-width: 1172px;
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 44px 34px 44px 34px;
  }

}

