.product {
  margin-top: 130px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    max-width: 714px;
  }

  &__title {
    font-weight: 500;
    font-size: 56px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 20px;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #555555;
    margin-bottom: 60px;
  }

  &__link__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #222222;
  }

  &__content {
    max-width: 600px;
    border: 1px solid rgba(104, 90, 82, 0.19);
    margin-bottom: 130px;

    &__title {
      font-weight: 500;
      font-size: 40px;
      line-height: 60px;
      color: #222222;
      margin-top: 20px;
      margin-bottom: 16px;
      padding-left: 32px;
      font-family: 'Red Hat Display';
      font-style: normal;
    }

    &__txt {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #555555;
      margin-bottom: 48px;
      padding-left: 32px;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 32px;
      padding-right: 32px;
      margin-bottom: 32px;
    }

    &__btn {
      padding: 16px 32px;
      background: white;
      border: 1px solid rgba(104, 90, 82, 0.46);
      color: #402F2C;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      margin-left: 24px;
      cursor: pointer;
    }

    &__cash {
      font-weight: 500;
      font-size: 30px;
      line-height: 32px;
      color: #222222;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }
}

.arrow {
  margin-left: 8px;
}

@media (min-width: 1024px) and (max-width: 1239.75px) {
  .product {
    margin-top: 50px;
    &__text {
      max-width: 512px;
    }

    &__title {
      font-size: 40px;
    }

    &__item {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__content {
      margin-bottom: 50px;
    }

    &__content__title {
      font-size: 40px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023.75px) {
  .product {
    position: relative;
    margin-top: 50px;

    &__item {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__header {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__link {
      margin-bottom: 100px;
      position: absolute;
      bottom: -100px;
      right: 250px;
    }

    &__title {
      text-align: center;
      font-size: 40px;
    }

    &__paragraph {
      text-align: center;
    }

    &__content {
      margin-bottom: 50px;
    }
  }
}

@media (min-width: 320px) and (max-width: 767.75px) {
  .product {
    margin-top: 50px;
    position: relative;

    &__title {
      font-size: 20px;
      line-height: 30px;
      padding-left: 0;
      text-align: center;
    }

    &__paragraph {
      font-size: 15px;
      line-height: 20px;
      padding-left: 0;
      text-align: center;
      margin-bottom: 30px;
    }

    &__header {
      flex-wrap: wrap;
    }

    &__item {
      flex-wrap: wrap;
    }

    &__link {
      position: absolute;
      bottom: 0;
      right: 50px;
      &__text {
        font-size: 15px;
      }
    }

    &__content {
      margin-bottom: 50px;

      &__img {
        width: 290px;
      }

      &__title {
        font-size: 20px;
        padding-left: 0;
        text-align: center;
        margin: 0;
      }

      &__txt {
        padding-left: 0;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 15px;
      }

      &__btn {
        padding: 8px 15px;
        font-size: 10px;
        line-height: 15px;
        margin-left: 8px;
      }

      &__footer {
        padding: 0;
      }

      &__cash {
        font-size: 20px;
        padding-right: 5px;
      }
    }
  }
}





