.swiper-slide {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.swiper-slide-text {
  margin-left: 37px;
}

.swiper-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #222222;
  margin-top: 30px;
  margin-bottom: 12px;
}

.swiper-paragraph {
  position: relative;
  max-width: 625px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #555555;
  margin-top: 43px;
  margin-bottom: 79px;
  padding-left: 17px;
}

.swiper-quotes {
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-quotes2 {
  position: absolute;
  bottom: 16px;
}

.swiper-name {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #222222;
  margin-bottom: 10px;
}

.swiper-profession {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #555555;
}

.btn-prev {
  color: rgba(233, 244, 237, 1);
  position: absolute;
  left: 620px;
  padding: 20px;
  border: 1px solid rgba(111, 181, 135, 0.15);
  border-radius: 50%;
}

.btn-next {
  color: rgba(111, 181, 135, 1);
  position: absolute;
  left: 690px;
  padding: 20px;
  border: 1px solid #6FB587;
  border-radius: 50%;
}

.btn-next:after {
  font-size: 16px;
}

.btn-prev:after {
  font-size: 16px;
}

@media (min-width: 1024px) and (max-width: 1239.75px){
  .swiper-reviews {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1023.75px) {
  .swiper-reviews {
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn-prev {
    left: 400px;
    }
  .btn-next {
    left: 470px;
  }
  .swiper-paragraph {
    margin: 40px 0 40px;
  }
}

@media (min-width: 320px) and (max-width: 767.75px) {
  .swiper-reviews {
    flex-wrap: wrap;
    justify-content: center;
  }
  .swiper-reviews-img {
    width: 290px;
    height: 290px;
  }
  .swiper-slide-text {
    margin: 0;
  }
  .swiper-title {
    font-size: 15px;
    margin: 5px 0;
  }
  .swiper-paragraph {
    font-size: 10px;
    line-height: 15px;
    margin: 5px 0;
    padding-left: 10px;
  }
  .swiper-name {
    font-size: 18px;
    line-height: 20px;
    margin: 0;
  }
  .swiper-profession {
    font-size: 10px;
  }

  .swiper-quotes {
    width: 10px;
  }
  .swiper-quotes2 {
    position: absolute;
    bottom: 10px;
    width: 10px;
  }
  .btn-prev {
    left: 120px;
    bottom: 0;
    padding: 8px;
    width: 20px;
    height: 20px;
  }
  .btn-next {
    left: 150px;
    bottom: 0;
    padding: 8px;
    width: 20px;
    height: 20px;
  }
  .btn-next:after {
    font-size: 8px;
  }

  .btn-prev:after {
    font-size: 8px;
  }

}