.aside
    .container.aside__items
        .aside__item
            img(src="./assets/imgs/aside1.svg", alt="aside1").aside__item__img
            h1.aside__item__text Organic Products
        .aside__item
            img(src="./assets/imgs/aside2.svg", alt="aside2").aside__item__img
            h1.aside__item__text Yearly Sales
        .aside__item
            img(src="./assets/imgs/aside3.svg", alt="aside3").aside__item__img
            h1.aside__item__text Happy Customar


