.content.container
    .content__text
        h1.content__text__title The Perfect Beauty Of You
        p.content__text__paragraph1 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        p.content__text__paragraph2 It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        button.section__btn Shop Now
    .content__img
        img(src="./assets/imgs/product3.jpg", alt="product3").content__img__product
