.footer
    .footer__inner.container
        .footer__email
            p.footer__email__text Subscribe to Get Our Letest News
            form.footer__email__form
                input(type="text" placeholder="Enter email").footer__email__field
                button.footer__email__btn Subscribe
        .footer__info
            .footer__info__logo
                img(src="./assets/imgs/logo.svg", alt="logo").footer__info__img
                p.footer__info__text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            ul.footer__info__links
                li.link-item Quick Link
                li.link-item
                    a(href="#").footer-link Home
                li.link-item
                    a(href="#").footer-link Products
                li.link-item
                    a(href="#").footer-link About Us
            ul.footer__info__contact
                li.contact-item Contact Us
                li.contact-item
                    a.contact-item-info(href="mailto:oyasimnaeem@email.com") oyasimnaeem@email.com
                li.contact-item
                    a.contact-item-info(href="tel:+123456789") +123456789
                li.contact-item
                    a(href="#").contact-item-fc
                        img(src="./assets/imgs/facebook.svg", alt="facebook")
                    a(href="#")
                        img(src="./assets/imgs/twitter.svg", alt="twitter").contact-item-tw
                    a(href="#")
                        img(src="./assets/imgs/insta.svg", alt="insta").contact-item-inst



