.header
    .header-inner.container
        a(href='#')
            img(src="./assets/imgs/logo.svg", alt="logo")
        nav
            ul.nav
                li.nav-item
                    a(href="#").nav-link Home
                li.nav-item
                    a(href="#").nav-link Products
                li.nav-item
                    a(href="#").nav-link About Us
                li.nav-item
                    a(href="#").nav-link Contact Us
        ul.menu
            li.menu-item
                a(href="#").link-acount
                    img(src="./assets/imgs/men.svg", alt="men")
            li.menu-item
                a(href="#").link-buy
                    img(src="./assets/imgs/buy.svg", alt="buy")
            li.menu-item
                a(href="#").link-menu
                    img(src="./assets/imgs/frame.svg", alt="frame")


