.container.icons
    ul.icons__row
        li
            img(src="./assets/imgs/icon1.svg", alt="icon1")
        li
            img(src="./assets/imgs/icon2.svg", alt="icon2")
        li
            img(src="./assets/imgs/icon3.svg", alt="icon3")
        li
            img(src="./assets/imgs/icon4.svg", alt="icon4")
        li
            img(src="./assets/imgs/icon5.svg", alt="icon5")
        li
            img(src="./assets/imgs/icon6.svg", alt="icon6")
