.container.product
    .product__header
        .product__text
            h1.product__title Our Porular Product
            p.product__paragraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
        .product__link
            a(href="#").product__link__text Discover Our Products
            span.arrow
                img(src="./assets/imgs/arrow.svg", alt="arrow")
    .product__item
        .product__content
            img(src="./assets/imgs/product1.jpg", alt="product1").product__content__img
            h1.product__content__title Cosmetic products
            p.product__content__txt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            .product__content__footer
                .product__content__footer-btns
                    button.section__btn Buy Now
                    button.product__content__btn Add To Cart
                span.product__content__cash $120
        .product__content
            img(src="./assets/imgs/product2.jpg", alt="product1").product__content__img
            h1.product__content__title Cosmetic products
            p.product__content__txt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            .product__content__footer
                .product__content__footer-btns
                    button.section__btn Buy Now
                    button.product__content__btn Add To Cart
                span.product__content__cash $120




