.swiper.container
    .swiper-wrapper
        .swiper-slide
            .swiper-slide-img
            img(src="./assets/imgs/foto.jpg", alt="foto")
            .swiper-slide-text
                h1.swiper-title Amazing Cosmetic
                img(src="./assets/imgs/star.svg", alt="star")
                p.swiper-paragraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                    img(src="./assets/imgs/quotes.svg", alt="quotes").swiper-quotes
                    img(src="./assets/imgs/quotes2.svg", alt="quotes2").swiper-quotes2
                h1.swiper-name Rusmin Islam
                h2.swiper-profession Designer
            .swiper-button-prev.btn-prev
            .swiper-button-next.btn-next
